.Gallery {
	display: inline-block;
    overflow: hidden;
    padding-left: 30px;
	position: absolute;
	top: 30px;

    .vertical-line {
    	background-color: black;
    	height: 100%;
    	left: 0;
    	position: absolute;
    	top: 0;
		width: 6px;
    }

    .graphics {
        margin: 15px;
    }
}
